/* Base styles */
.pass{
    
        font-size: 45px;
        color: #f9f9f9;
        text-align: center;
        /* margin: 150px; */
        padding-top:170px;
}
.forgot-password-wrapper {
    max-width: 1000px;
    margin:0px auto;
    padding: 19px;
    border-radius: 18px;
    /* background-color: #3c4357; */
    
   
  }

  
  
  .forgot-password-form-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 370px;
    margin-left: 250px;
    margin-top: 50px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .forgot-password-form-group {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-label {
    font-size: 1rem;
    color: #666;
  }
  
  .forgot-password-input {
    padding: 8px;
    border: 2px solid #5d5b5b;
    border-radius: 12px;
    font-size: 1rem;
    color: rgb(78, 137, 137);
  }
  
  .forgot-password-button {
    padding: 5px;
    border: none;
    border-radius: 15px;
    background-color: rgb(89, 158, 158);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 40px;
    width: 70%;
   
  }
  
  .forgot-password-button:hover {
    background-color: rgb(78, 137, 137);
  }
  .forgot-password-back{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
  }
  .forgot-password-message {
    margin-top: 15px;
    font-size: 0.9rem;
    color: green;
    text-align: center;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .forgot-password-wrapper {
      padding: 15px;
      margin: 20px auto;
    }
  
    .forgot-password-header h2 {
      font-size: 1.5rem;
    }
  
    .forgot-password-form-wrapper {
      padding: 15px;
    }
  
    .forgot-password-input {
      padding: 8px;
      font-size: 0.875rem;
    }
  
    .forgot-password-button {
      font-size: 0.875rem;
      padding: 8px;
    }
  
    .forgot-password-message {
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 480px) {
    .forgot-password-wrapper {
      padding: 10px;
    }
  
    .forgot-password-header h2 {
      font-size: 1.25rem;
    }
  
    .forgot-password-form-wrapper {
      padding: 10px;
    }
  
    .forgot-password-input {
      padding: 6px;
      font-size: 0.75rem;
    }
  
    .forgot-password-button {
      font-size: 0.75rem;
      padding: 7px;
    }
  
    .forgot-password-message {
      font-size: 0.75rem;
    }
  }
  