.body {
  margin: 0;
  /* font-family: 'Arial', sans-serif; */
  background-color: #3c4357;
}
/* General styles */
.reset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  position: relative; 
  z-index: 2;
}

.reset-heading {
  font-size: 44px;
  margin-bottom: 40px;
  color: white;
}

.reset-form {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 60%; 
  max-width: 280px;
}

.reset-form-group {
  margin-bottom: 15px;
}

.reset-label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(89,158,158);
}

.reset-input {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(89,158,158);
  border-radius: 20px;
  box-sizing: border-box;
}

.reset-button {
  width: 50%;
  padding: 2px;
  font-size: 13px;
  color: #fff;
  background-color: rgb(89,158,158);
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  margin: 0px 60px;
}

.reset-button:hover {
  background-color: rgb(89,158,158);
}

/* Responsive styles */
@media (max-width: 600px) {
  .reset-wrapper {
    padding: 10px;
  }

  .reset-form {
    padding: 15px;
    width: 100%;
    max-width: 100%;
  }

  .reset-heading {
    font-size: 20px;
  }

  .reset-input,
  .reset-button {
    font-size: 14px;
    padding: 8px;
  }

  .reset-input {
    width: 100%;
  }

  .reset-button {
    width: 100%;
  }
}
.background-container-img1 {
  position: relative;
  height: 100vh;
  width: 60%; /* Slightly reduced width for smaller screens */
  background-color: transparent;
  margin: 0 auto; /* Centers the container horizontally */
  /* overflow: hidden; */
  /* box-shadow: 0 0 15px rgba(255, 255, 0, 0.7); */
}

.background-container-img1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/src/assets/Background-image1.png');
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1; 
}

.background-container-img2 {
  position: relative;
  height: 100vh;
  width: 95%; /* Slightly reduced width for smaller screens */
  background-color: transparent;
  margin: 0 auto; /* Centers the container horizontally */
  /* overflow: hidden; */
  /* box-shadow: 0 0 15px rgba(255, 255, 0, 0.7); */
}

.background-container-img2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/src/assets/Background-image1.png');
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
  opacity: 0.02;
  z-index: -1; 
}
