

/* PAGE WRAPPER */
.verification-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #3c4357;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* OTP CARD */
.verification-card {
  background: #ffffff;
  padding: 35px 30px;
  width: 360px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.25);
}

/* ICON */
.otp-icon {
  width: 64px;
  margin-bottom: 12px;
}

/* TEXT */
.verification-card h2 {
  font-size: 16px;
  font-weight: 500;
  color: #3a3a3a;
  margin-bottom: 6px;
}

.verification-card p {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 22px;
}

/* OTP INPUTS */
.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.otp-inputs input {
  width: 42px;
  height: 42px;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #b7dede;
  outline: none;
}

.otp-inputs input:focus {
  border-color: #4fa3a5;
}

/* BUTTON */
.verify-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4fa3a5;
  color: #ffffff;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.verify-btn:hover {
  background-color: #3f8f91;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .verification-card {
    width: 90%;
  }

  .otp-inputs input {
    width: 38px;
    height: 38px;
  }
}
