.notify-container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 50px 100px ;
    /* border-radius: 8px; */
    margin-top: -80px;
    height: 640px;
    overflow-y: scroll;

  }
  .back-icon-notify{
    /* margin-top: 60px; */
    /* margin-right: 50px; */
    /* margin-top: 60px; */padding-top: 40px;
    margin-left: 50px;
  }
  
  .notify-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 15px; */
    border-bottom: 1px solid #ddd;
  }
  
  .notify-details {
    flex: 1;
  }
  
  .notify-details h3 {
    /* margin: 0 0 10px; */
    font-size: 20px;
  }
  .notify-details p {
    /* margin: 0 0 10px; */
    font-size: 15px;
    color: rgb(34, 34, 34);
  }
  .notify-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .notify-date {
    font-size: 0.9em;
    color: #666;
    /* margin-bottom: 15px; */
  }
  .notify-date svg{
    /* font-size: 0.9em; */
    color: #666;
    margin-right: 10px;
    /* margin-bottom: 5px; */
  }
  .notify-actions {
    display: flex;
  }
  
  .notify-action-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    /* margin-left: 20px; */
    /* color: #007bff; Button color */
  }
  .notify-action-btn1 {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    /* margin-left: 80px; */
    /* color: #007bff; Button color */
  }
  .notify-action-btn1 svg{
    margin-right: 40px;
  }
  .notify-action-btn:hover {
    color: #0056b3; /* Darker color on hover */
  }
  
  .notify-item:last-child {
    border-bottom: none; /* Remove border from the last item */
  }
  