.chatlive-container {
    width: 600px;
    height: 740px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 450px;
}

.chatlive-header {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.chatlive-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chatlive-message {
    margin-bottom: 10px;
    max-width: 80%;
    padding: 10px;
    border-radius: 8px;
}

.chatlive-message.chatlive-support {
    align-self: flex-start;
    background-color: #e6e6e6;
}

.chatlive-message.chatlive-user {
    align-self: flex-end;
    background-color: #58a4b0;
    color: white;
    align-items: end;
}

.chatlive-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chatlive-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.chatlive-input button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #58a4b0;
    color: white;
    cursor: pointer;
}

.chatlive-input button:hover {
    background-color: #58a4b0;
}
