.download-section1 {
  margin-top: -10px;

}

.download-section1 p {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(243, 241, 248);
  text-align: center;
}

.download-form1 {
  display: flex;
}

.email {
  padding: 10px;
  border: 0.5px solid yellow;
  border-radius: 5px 0 0 5px;
  width: 300px;
  max-width: 100%;
  font-size: 16px;
  outline: none;
}

.download-button1 {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4c9aff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.download-form-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 120px;
  
  /* background-color: #2b3241; Match background color if necessary */
}

.download-form1 {
  display: flex;
  border: 1px solid #57b0e4;
  border-radius: 25px; /* Round the entire form */
  overflow: hidden;
}

.email {
  padding: 10px 10px;
  border: none;
  font-size: 16px;
  color: #fff; /* Text color */
  background-color: transparent;
  flex-grow: 1;
}

.download-button1 {
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  border-left: 1px solid #57b0e4; /* Matching the separation border */
  transition: background-color 0.3s ease;
}

.download-button1:hover {
  background-color: rgb(89,158,158); /* Highlight color on hover */
}

.back-icon-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  position: absolute;
  top: 120px; /* Adjust the top positioning as needed */
  left: 170px; /* Adjust the left positioning as needed */
  z-index: 10; /* Ensure the back icon appears above other elements */
  /* background-color: white; Optional: adds background to the icon */
  padding: 5px; /* Optional: adds some padding around the icon */
  border-radius: 50%; /* Optional: makes the background circular */
}
@media (max-width: 768px) {
  .back-icon-container {
    top: 120px; /* Adjust top for mobile view */
    left: 180px; /* Adjust left for mobile view */
    font-size: 14px; /* Adjust font size for mobile */
  }

}

@media (max-width: 480px) {
  .back-icon-container {
    top: 15px; /* Further adjustments for smaller screens */
    left: 15px;
    font-size: 12px; /* Smaller font for very small screens */
  }
}